{% extends "layout.html" %} {% block content %}
<div class="container-fluid mt-4" id="main-window">
  <div class="card">
    <div class="card-body row align-items-center">
      <!-- Label -->
      <div class="col-12 col-md-5">
        <label class="form-label">
          Jadwal Semester {{ ' '.join(semester_ajaran_depan.split('_')) }}
        </label>
      </div>

      <!-- Tombol -->
      <div class="col-12 col-md-7">
        <div class="row g-2 justify-content-end">
          <!-- Button 1: selalu di atas -->
          <div class="col-12 col-lg-4 order-1" id="div_generate">
            <button
              type="button"
              class="btn btn-primary w-100"
              onclick="generate_jadwal()"
            >
              Generate
            </button>
          </div>

          <!-- Button 2: di bawah untuk <992, sejajar untuk ≥992 -->
          <div class="col-6 col-lg-4 order-2 order-lg-2">
            <button
              type="button"
              class="btn btn-dark w-100"
              onclick="download_excel_by()"
            >
              Download Excel
            </button>
          </div>

          <!-- Button 3: di bawah untuk <992, sejajar untuk ≥992 -->
          <div class="col-6 col-lg-4 order-3 order-lg-3">
            <button
              type="button"
              class="btn w-100"
              onclick="ready()"
              id="btn_ready"
            >
              Ready
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block script %}
<script>
  const semester_ajaran_depan = "{{ semester_ajaran_depan | safe }}";
  const prodi = "{{ prodi | safe }}";
  var jadwal = "{{ jadwal | safe }}";

  $(document).ready(async function () {
    await setting_prodi_done();
  });

  function setting_prodi_done() {
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/get_simpanan_prodi",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        await res.data.forEach((prodi) => {
          isChecked = prodi.status ? "checked" : "";
          $("#setting_prodi_done").append(
            `<div class="card-responsive d-flex justify-content-between align-items-center fully-disabled">
              <div class="text-label"><label for="${prodi.prodi}">${prodi.prodi}</label></div>
                <div class="button-group"><label class="circle-checkbox">
                  <input type="checkbox" name="prodi_ready" id="${prodi.prodi}" ${isChecked}/>
                  <span class="checkmark"></span>
                </label></div>
              </div>`
          );
        });
      },
    });
  }

  async function generate_jadwal(generate_ulang = false) {
    if (!generate_ulang) {
      let unready = [];
      await $('input[name="prodi_ready"]').each(function () {
        if (!this.checked) {
          unready.push(this.id);
        }
      });

      if (unready.length > 0) {
        let lanjut = await Swal.fire({
          icon: "warning",
          title: "Prodi belum mengatur mata kuliah yang akan dibuka!",
          text: unready,
          showDenyButton: true,
          showCancelButton: false,
          confirmButtonText: "Hiraukan dan Cetak!",
          denyButtonText: "Batal Cetak",
        }).then((result) => {
          if (result.isConfirmed) return true;
          else if (result.isDenied) return false;
        });

        if (!lanjut) return;
      }
    }

    param = {
      regenerate: generate_ulang,
    };
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/generate",
      data: param,
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.status) {
          export_to_excel("Jadwal_Kuliah");
          switch_display(res.score);
        } else {
          if (res.reason === "exist") {
            await Swal.fire({
              icon: "info",
              title: "Jadwal sudah pernah dibuat!",
              text: "Apakah mau buat ulang?",
              showDenyButton: true,
              showCancelButton: true,
              confirmButtonText: "Buat Ulang",
              denyButtonText: "Cetak ?",
              cancelButtonText: "Batal",
              confirmButtonColor: "#007bff",
              denyButtonColor: "#28a745",
            }).then((result) => {
              if (result.isConfirmed) {
                return generate_jadwal(true);
              } else if (result.isDenied) {
                return download_excel_by();
              } else {
                return;
              }
            });
          }
          popUpTimer("error", res.message);
        }
      },
    });
  }

  function download_excel_by() {
    Swal.fire({
      title: "Cetak apa?",
      showDenyButton: true,
      showCancelButton: true,
      confirmButtonText: "Jadwal Kuliah",
      denyButtonText: `Jadwal Ruangan`,
      confirmButtonColor: "#007bff",
      denyButtonColor: "#28a745",
    }).then((result) => {
      if (result.isConfirmed) {
        export_to_excel("Jadwal_Kuliah");
      } else if (result.isDenied) {
        export_to_excel("Jadwal_Ruangan");
      }
    });
  }

  /**
   * @returns {link} - link download document
   */
  async function export_to_excel(downloadBy) {
    let filename = downloadBy + "_Semester-" + semester_ajaran_depan;
    try {
      let params = {
        filename: filename,
        downloadBy: downloadBy.toLowerCase(),
      };

      const data = await $.ajax({
        type: "POST",
        url: "/export/export_to_excel",
        data: JSON.stringify(params),
        contentType: "application/json",
        xhrFields: {
          responseType: "blob",
        },
        beforeSend: () => {
          Swal.fire({
            html: `<p><b>Sedang Membuat File Laporan...</b></p><p style="text-align: center;">Jangan menutup halaman ini!</p>`,
            allowOutsideClick: false,
            allowEnterKey: false,
            allowEscapeKey: false,
            showConfirmButton: false,
            willOpen: (_) => {
              $("#modal_loading").modal("show");
            },
          });
        },
        complete: () => {
          $("#modal_loading").modal("hide");
        },
      });

      Swal.fire({
        title: "Sukses!",
        text: "Berhasil Download Laporan",
        icon: "success",
      });

      const url = URL.createObjectURL(data);
      const link = document.createElement("a");

      link.href = url;
      link.download = filename + ".xlsx";
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    } catch (error) {
      popUpTimer("error", error.status, error.statusText);
    }
  }

  async function evaluate_jadwal() {
    $.ajax({
      type: "GET",
      url: "/generate_jadwal/evaluate_jadwal",
      cache: false,
      beforeSend: () => {
        showLoading();
      },
      complete: () => {
        hideLoading();
      },
      success: async function (res) {
        if (res.data) {
          switch_display(res.data);
        } else {
          popUpTimer("error", res.message);
        }
      },
    });
  }

  async function switch_display(data = undefined) {
    $("#setting_prodi_done")[0].toggleAttribute("hidden");
    $("#detail_evaluasi")[0].toggleAttribute("hidden");
    $("#div_generate")[0].toggleAttribute("hidden");
    $("#btn_eval")[0].toggleAttribute("hidden");
    $("#btn_kembali")[0].toggleAttribute("hidden");
    window.scrollTo({ top: 0, behavior: "smooth" });

    $.fn.dataTable
      .tables({
        visible: true,
        api: true,
      })
      .columns.adjust();

    if (!$("#detail_evaluasi").is("[hidden]") && data) {
      await $("#detail_evaluasi input").val("");
      await $("#detail_evaluasi span.badge").remove();
      $("#field_dosen")[0].toggleAttribute("hidden");
      await preferensi_tab.clear().draw(false);

      Object.entries(data).forEach(async ([key, value]) => {
        if (typeof value != "object") {
          if (!value) $("#" + key + "_div").prop("hidden", true);
          else $("#" + key + "_div").prop("hidden", false);
        } else {
          if (Object.keys(data[key]).length === 0)
            $("#" + key + "_div").prop("hidden", true);
          else $("#" + key + "_div").prop("hidden", false);
        }

        if (key == "pelanggaran_preferensi") {
          preferensi_tab.rows.add(value).draw(false);
        } else if (key == "solo_team_teaching") {
          $("#" + key).val(Object.keys(value).length);
        } else if (key == "dosen_not_set") {
          $("#count_dosen_kosong").val(value.length);
          if (value.length > 0) {
            $("#field_dosen")[0].toggleAttribute("hidden");
            await value.forEach((kode) => {
              addBadge("field_dosen", "list_dosen", kode);
            });
          } else {
            $("#field_dosen").prop("hidden", true);
          }
        } else {
          $("#" + key).val(value);
        }
      });
      if (data.score < 900) {
        $("#score").addClass("text-danger");
      } else {
        $("#score").removeClass("text-danger");
      }
      // v_toko_tab.ajax.reload(null, false);
    }
  }

  let preferensi_tab = $("#table_pelanggaran_preferensi").DataTable({
    scrollX: true,
    scrollY: "50vh",
    scrollCollapse: true,
    paging: false,
    responsive: true,
    ordering: false,
    info: false,
    columns: [
      {
        data: "kode_dosen",
        defaultContent: "",
      },
      {
        data: "kode_matkul",
        defaultContent: "",
      },
      {
        data: "hari",
        defaultContent: "",
      },
      {
        data: "jam_mulai",
        defaultContent: "",
      },
      {
        data: "jam_selesai",
        defaultContent: "",
      },
    ],
  });
</script>
{% endblock %}
